@import "/Users/fmarc/Documents/Code/FCSC/front-end/src/__vars.scss";

a {
    text-decoration: none;
    color: black;
}
.client-box {
    background-color: rgba(255, 255, 255, 0.9);

    margin: 1rem;
    position: relative;
    border-radius: 20px;
    box-shadow: $box-shadow;
    &__del-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    &__back-btn {
        position: absolute;
        top: 1rem;
        left: 1rem

    }
    &__commercial-name {
        font-size: $h1;
        color: white;
        background-color: rgba(0, 0, 0, 0.616);
        text-align: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px ;
        padding: 1rem 0;
    }

}

.content {
    display: flex;
    justify-content: space-around;

    &__title {
        font-size: $normal;
        font-weight: bold;
        background-color: $second-color;
        padding: .5rem;
        border-radius: 10px;
        text-align: center;
        color: white;
    }
    &__title-right {
        font-size: $medium;
        background-color: $second-color;
        font-weight: bold;
        display: inline-block;
        padding: 1rem;
        border-radius: 1rem;
        color: white;
        margin-bottom: 2rem;
        box-shadow: $box-shadow-l;
    }
    &__contact-name {
        text-align: center;
        font-size: $large;
    }
    &__right {
        width: 75%;
        padding: 1.5rem;
        text-align: center;
        &-theme {
            border-radius: 1rem;
            box-shadow: $box-shadow-l;
            margin-bottom: 1rem;
            
        }
        
   
    }
    &__left {
        width: 25%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
     
    }

    &__content {
        font-size: $litle;
        text-decoration: none;
        text-align: center;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__no-content {
        font-size: $litle;
        padding: $normal;
  
    }

    &__sub-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        background-color: $main-bis;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        
        
        &__logo {
            height: 40px;
          
        }

        &__contract-name {
            font-size: $normal;
            padding: 0;
            margin: 0;
        }

        &__contract {
            font-weight: bold;
        }
     
    }

    &__icon {
        margin-right: 1rem;
    }

    &__header-icon {
        text-align: center;
        height: 50px;
    
     
    }

}

.comment {


    &__box {
        min-width: 100px;
        padding: 1rem;
        box-shadow: $box-shadow;
        margin-bottom: $litle;
        size: 2rem;
    
    }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}