@import "/Users/fmarc/Documents/Code/FCSC/front-end/src/__vars.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: .5rem;

    &__logo {
        height: 70px;
        border-radius: 20px;
        box-shadow: $box-shadow;
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: $medium;
        color: $third-color;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.10);
    }

    &__login-btn {
        border: none;
        padding: 1rem;
        border-radius: 15px;
        background-color: $main-color;
        font-size: $litle;
        font-weight: 400;
        box-shadow: $box-shadow;
        cursor: pointer;
        &:hover {
            background-color: $second-color;
        }
    }
}