@import "/Users/fmarc/Documents/Code/FCSC/front-end/src/__vars.scss";

.add-client {
    width: 100%;
    margin-bottom: $large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 350px;

        padding: 1rem;
        border-radius: 10px;
        box-shadow: $box-shadow;
    }
    &__add-btn {
        margin-left: $normal;
    }

    &__check-box {
        background-color: white;
        padding: 1rem;
        border-radius: 30px;
    }

}

.header-title {
    font-weight: bold;
    font-size: $normal;
    background-color: $second-color;
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: $box-shadow-l;
}

.header-body {
    font-size: $litle;
    text-decoration: none;
}