@import "/Users/fmarc/Documents/Code/FCSC/front-end/src/__vars.scss";

.add-client {
    width: 100%;
    margin-bottom: $large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 350px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: $box-shadow;
    }
    &__add-btn {
        margin-bottom: $normal;
    }

}

.header-title {
    font-weight: bold;
    font-size: $normal;
}

.header-body {
    font-size: $litle;
    text-decoration: none;
}