@use 'sass:color';

// Colors 

$main-color: #A0C0DA;
$main-bis: #a0c0da80; 
$second-color: #84adcf;
$third-color: #224059;

// Font-Size

$h1: 2.5rem;
$large: 2rem;
$medium: 1.5rem;
$normal: 1.25rem;
$litle: 1rem;

// Box Shadow

$box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-l:rgba(0, 0, 0, 0.24) 0px 3px 8px;